<%= form_tag :action => "edit_team" %>
	<fieldset>
		  <input type="hidden" name="id" value="<%= @id %>"/>
		  <label for="name">Name:</label><%= text_field :team, :name %><br />
		  <label for="name">Name(Burgarian):</label><%= text_field :team, :bg_name %><br />
		  <%= submit_tag "Save" %>
	</fieldset>
</form>
