<div class="breadcrumbs">
	<span class="breadcrumbstitle"><%= t(:views__site__index__you_are_here) %> </span>
	<%= link_to t(:site__title__home), root_url %> > 
	<span class="currentbreadcrumb"><%= @title %></span>
</div>

<%= render :partial => 'layouts/header' %>

<% form_tag :url => change_password_users_url do %>
	<% if !@errors.blank? %><p class="formerror"><%= @errors %></p><% end %>
	<p><label class="fieldlabel"><%= t(:views__users__change_password__current_password) %></label><%= password_field_tag :old_password, params[:old_password] %></p>
	<p><label class="fieldlabel"><%= t(:views__users__change_password__new_password) %></label><%= password_field_tag :new_password, params[:new_password] %></p>
	<p><label class="fieldlabel"><%= t(:views__users__change_password__confirm_password) %></label><%= password_field_tag :new_password_confirmation %></p>
	<p><%= submit_tag t(:app__update), :class => "submitbutton" %></p>
<% end %>