<div class="breadcrumbs">
	<span class="breadcrumbstitle"><%= t(:views__site__index__you_are_here) %> </span>
	<%= link_to t(:site__title__home), root_url %> > 
	<span class="currentbreadcrumb"><%= @title %></span>
</div>

<%= render :partial => 'layouts/header' %>

<% form_for :user, :url => edit_user_users_url do -%>
	<p class="field"><label class="fieldlabel"><%= t(:views__users__edit_user__email) %></label><%= text_field_tag :email, @user.email %></p>
	<p class="validationerror"><%= error_message_on :user, :email %></p>
	<p><%= submit_tag t(:app__update), :class => "submitbutton" %></p>
<% end %>