<div class="breadcrumbs">
	<span class="breadcrumbstitle"><%= t(:views__site__index__you_are_here) %> </span>
	<%= link_to t(:site__title__home), root_url %> > 
	<span class="currentbreadcrumb"><%= @title %></span>
</div>

<%= render :partial => 'layouts/header' %>

<% form_tag :url => reset_password_users_url do %>
	<p class="formnotice"><%= t(:views__users__reset_password__required_fields) %></p>
	<% if !@errors.blank? %><p class="formerror"><%= @errors %></p><% end %>
	<p class="field"><label class="fieldlabel">*<%= t(:views__users__login__username) %></label><%= text_field_tag :login, params[:login] %></p>
	<p class="field"><label class="fieldlabel">*<%= t(:views__users__edit_user__email) %></label><%= text_field_tag :email, params[:email] %></p>
	<p class="field"><%= show_simple_captcha %></p>
	<p><%= submit_tag t(:users__title__reset_password), :class => "submitbutton" %></p>
<% end %>
