<% if Competition.has_started? %>

<div id="breadcrumbs">
	<span class="breadcrumbstitle"><%= t(:views__site__index__you_are_here) %> </span>
	<span class="currentbreadcrumb"><%= link_to @title, :action => "index" %></span>
	<span class="currentbreadcrumb"> &gt; 
					<% if session[:locale] and session[:locale] == 'bg' %>
					<%= @team.bg_name %>
					<% else %>
					<%= @team.name %>
					<% end %>
	</span>
</div>
<div class="spacer"></div>
<div id="intro">
	<%= t(:views__site__view_team__intro) %>
</div>
<div class="spacer"></div>
<div id="leadertable">
	<table>
		<thead>
			<tr>
				<th><%= t(:views__site__view_team__table_household) %></th>
				<% if @week < 5 %>
				<th><%= t(:views__site__view_team__table_baseline) %></th>
				<th><%= t(:views__site__index__table_w1_to_w2) %></th>
				<th><%= t(:views__site__index__table_w2_to_w3) %></th>
				<th><%= t(:views__site__index__table_w3_to_w4) %></th>
				<% elsif @week < 9 %>
				<th><%= t(:views__site__index__table_sub_total_w4) %></th>
				<th><%= t(:views__site__index__table_w4_to_w5) %></th>
				<th><%= t(:views__site__index__table_w5_to_w6) %></th>
				<th><%= t(:views__site__index__table_w6_to_w7) %></th>
				<th><%= t(:views__site__index__table_w7_to_w8) %></th>
				<% else %>
				<th><%= t(:views__site__index__table_sub_total_w4) %></th>
				<th><%= t(:views__site__index__table_sub_total_w8) %></th>
				<th><%= t(:views__site__index__table_w8_to_w9) %></th>
				<th><%= t(:views__site__index__table_w9_to_w10) %></th>
				<th><%= t(:views__site__index__table_w10_to_w11) %></th>
				<th><%= t(:views__site__index__table_w11_to_w12) %></th>
				<% end %>
				<th><%= t(:views__site__index__table_total) %></th>
				<th class="showall"><a href="/site/show_team_history?id=<%= @team.id %>" target="_blank" title="<%= t(:views__site__index__show_all) %>"><%= t(:views__site__index__show_all) %></a></th>
			</tr>
		</thead>
		<tbody>
			<% for member in @team.members %><% 
				member_points = member.member_points 
				week1 = 0
				if member_points[0]
					week1 = member_points[0].points
				end
				week2 = 0
				if member_points[1]
					week2 = member_points[1].points
				end
				week3 = 0
				if member_points[2]
					week3 = member_points[2].points
				end
				week4 = 0
				if member_points[3]
					week4 = member_points[3].points
				end
				sub_total1 = week1 + week2 + week3 + week4
				week5 = 0
				if member_points[4]
					week5 = member_points[4].points
				end
				week6 = 0
				if member_points[5]
					week6 = member_points[5].points
				end
				week7 = 0
				if member_points[6]
					week7 = member_points[6].points
				end
				week8 = 0
				if member_points[7]
					week8 = member_points[7].points
				end
				sub_total2 = sub_total1 + week5 + week6 + week7 + week8
				week9 = 0
				if member_points[8]
					week9 = member_points[8].points
				end
				week10 = 0
				if member_points[9]
					week10 = member_points[9].points
				end
				week11 = 0
				if member_points[10]
					week11 = member_points[10].points
				end
				week12 = 0
				if member_points[11]
					week12 = member_points[11].points
				end
				total = week1 + week2 + week3 + week4 + week5 + week6 + week7 + week8 + week9 + week10 + week11 + week12
			%><tr>
				<td><%= member.name %></td>
				<% if @week < 5 %>
				<td><%= week1 %></td>
				<td><%= week2 %></td>
				<td><%= week3 %></td>
				<td><%= week4 %></td>
				<% elsif @week < 9 %>
				<td><%=sub_total1 %></td>
				<td><%= week5 %></td>
				<td><%= week6 %></td>
				<td><%= week7 %></td>
				<td><%= week8 %></td>
				<% else %>
				<td><%=sub_total1 %></td>
				<td><%=sub_total2 %></td>
				<td><%= week9 %></td>
				<td><%= week10 %></td>
				<td><%= week11 %></td>
				<td><%= week12 %></td>
				<% end %>
				<td><%= total %></td>
				<td>&nbsp;</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<% else %>
<div id="intro">
	<%= t(:views__site__index__not_open) %>
</div>
<% end %>

